<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 shivani's Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
<h1  style="color:indianred;text-align:center"><i>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1></i>


